{% extends 'hw2app/base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
<ul class="nav nav-pills justify-content-end align-items-end">
    <li class="nav-item"><a href="/shop/" class="nav-link">Интернет магазин</a></li>
</ul>

<h1> Все клиенты </h1>

<table CELLSPACING="10">
    <tr>
        <td>ID</td>
        <td>Имя</td>
        <td>Почта</td>
        <td>Телефон</td>
        <td>Адрес</td>
        <td>Дата регистрации</td>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.date_reg }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}